@import "../../../../style/color.scss";

.coin {
    &__panel {
        width: 30%;
        margin-left: 25px;
        max-height: 500px;

        @media screen and (max-width: 1100px){
            width: 100%;
            max-height: 500px;
            margin-left: 0px;
        }

        &-title {
            font-size: 16px;
            font-weight: 500;
            margin-top: 0;
        }
    }

    &__input {
        box-sizing: border-box;
        background-color: $blackTwo;
        color: rgb(198, 198, 198);
        border: 1px solid #3a4148;
        border-radius: 5px;
        padding: 10px 10px;
        width: 100%;

        font-size: 18px;

        &:focus-visible {
            outline: 0;
            border: 1px solid $green;
        }

        &:active {
            border: 1px solid $green;
        }

        &:hover {
            border: 1px solid $green;
        }
    }

    &__button {
        background: $blue;
        color: #fff;
        width: 100%;
        padding: 18px 35px;
        margin-top: 20px;
        border: 1px solid $blue;
        border-bottom: 4px solid $blueTwo;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 700;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            transition: 0.3s;
            background: $blue;
            transform: scale(0.98);
            border: 1px solid $blue;
            border-bottom: 4px solid $blue;
        }
    }

    &__select {
        margin-top: 20px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 47%;
        padding: 15px 0;
        border: 1px solid #4a525d;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            border: 1px solid #86C232;
            transition: 0.2s;
        }
    }

    &__coin-panel {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
        background-color: $black;
    }
}