@import "../../../../style/color.scss";

.ladder {
    &__game {
        width: 100%;
        max-width: 600px;
        background-color: $blackTwo;
        border-radius: 5px;
        border-top: 2px solid $blue;
        padding-top: 20px;
        margin-right: 10px;

        @media screen and (max-width: 1100px) {
            margin: 0 0 10px 0;
        }

        @media screen and (max-width: 800px) {
            width: 80%;
        }

        @media screen and (max-width: 450px) {
            width: 90%;
        }

        &-container {
            padding: 10px;
            transition: 1s;
            display: flex;
        }

        &-items {
            width: 100%;
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: 1s;
        }

        &-item {
            display: inline-block;
            background-color: $black;
            opacity: 0.7;
            border-radius: 8px;
            width: 19%;
            height: 3vh;
            min-height: 25px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.5s;
            cursor: pointer;

            &:last-child {
                background-color: $blackTwo;
            }

            &__hero {
                border-radius: 50%;
                width: 20px;
                height: 20px;
                font-size: 9px;

                display: flex;
                align-items: center;
                justify-content: center;
                transition: 1s;
            }
        }

        &-coeff {
            &-item {
                display: inline-block;
                border: 1px solid #424242;
                box-sizing: border-box;
                border-radius: 8px;
                width: 70px;
                margin-right: 10px;
                height: 3vh;
                min-height: 25px;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.5s;
                color: #dcdcdc;
                cursor: pointer;
            }
        }
    }

    &__history {
        margin-left: 16px;
        margin-bottom: 5px;
        border: 1px solid #424242;
        border-radius: 50%;
        padding: 20px;
        cursor: pointer;

        display: inline-block;
        width: 1em;
        height: 1em;
        font-size: 19px;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
        color: #fff;
    }
}