@import "../../../../style/color.scss";

.registration {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.596);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;


    &__inner {
        background: $black;
        width: 500px;
        height: 600px;
        border-radius: 15px;
        position: relative;
    }

    &__top {
        border-bottom: 2px solid #55576d;
        margin-bottom: 25px;
    }

    &__title {
        text-align: center;
        color: #fff;
        text-shadow: 0 0 8px hsl(0deg 0% 100% / 40%);
    }

    &__close {
        position: absolute;
        top: 5px;
        right: 30px;
        color: #7b7e9a;
        font-size: 34px;
        cursor: pointer;
        transform: rotate(45deg);
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 10px;
    }

    &__item {
        width: 100%;
        margin-top: 25px;
        
        &:first-child {
            margin-top: 0;
        }
    }

    &__label {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 5px;
        color: $green;
    }

    &__input {
        background-color: $black;
        border: 1px solid rgb(77, 77, 77);
        border-radius: 5px;
        width: 100%;
        padding: 13px 10px;
        box-sizing: border-box;
        color: #fff;
        margin-top: 5px;

        &:focus-visible {
            outline: 0;
            border: 1px solid $green;
        }

        &:active {
            border: 1px solid $green;
        }

        &:hover {
            border: 1px solid $green;
        }
    }

    &__text {
        color: rgb(220, 220, 220);
        font-weight: 300;
        margin: 5px 0 25px 0;
    }

    &__error {
        color: red;
        margin: 0;
        margin-top: 10px;
    }

    &__button {
       background: linear-gradient(89.86deg, $greenTwo 35.19%,$green);
       color: $black;
       font-weight: 700;
       border: none;
       border-radius: 8px;
       padding: 20px 0;
       width: 100%;
       cursor: pointer;
       margin-bottom: 15px;
    }

    &__swap{
        text-align: center;
        color: #9c9fb8;
        &-login {
            color: #fff;
            cursor: pointer;
        }
    }
}