$green: #ffb400;
$greenTwo: #ad7a02;
$black: #222629;
$blackTwo: #2d3337;
$gray: #6B6E70;
$grayTwo: #474B4F;
$blue: #004bff;
$blueTwo: #002680;

.green-color {
    color: $green;
}

.green-background {
    background-color: $green;
}

.blue-color {
    color: $blue;
}

.blue-background {
    background-color: $blue;
}

.mrb40{
    margin-top: 5px;
    margin-bottom: 40px;
}

.fffclr {
    color: #fff;
}

 